.distance-legend {
    right: 25px;
    bottom: 30px;
    height: 30px;
    width: 125px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: content-box;
}

.distance-legend-label {
    font-size: 14px;
    font-weight: lighter;
    line-height: 30px;
    color: white;
    text-align: center;
}

.distance-legend-scale-bar {
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    position: absolute;
    height: 10px;
    top: 15px;
}

@media print {
    .distance-legend {
        display:none;
    }
}

@media screen and (max-width:700px), screen and (max-height: 420px) {
    .distance-legend {
        display:none;
    }
}