<div id="loading"></div>
<div id="cesiumContainer" style="width: 100%; height:100%"></div>
<div class="toolbar bottomleft">
  <button type="button"
          class="cesium-button"
          id="zoomin"
          (click)="zoomIn()"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Zoom In">+</button>

  <button type="button"
          class="cesium-button"
          id="zoomout" 
          (click)="zoomOut()" 
          data-toggle="tooltip"
          data-placement="bottom" 
          title="Zoom Out">-</button>
</div>
<div class="toolbar bottomright">
  <div id="hud"></div>
</div>

<div class="toolbar topleft">
  <app-search-bar></app-search-bar>
</div>
<distance-scale></distance-scale>