.toolbar {
    padding: 2px 5px;
    position: absolute;
    background: rgba(42,42,42,0.9); 
    border-radius: 5px;
}

.topleft {
    top: 5px;
    left: 5px;
    color: white;
}

.bottomleft {
    bottom: 5px;
    left: 5px;
}

.bottomright {
    bottom: 5px;
    right: 5px;
}

#cesiumContainer {
    width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
    font-family: sans-serif; color: #edffff;
}

#hud {
    color: white;
}

#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url("https://i.stack.imgur.com/MnyxU.gif");
    background-repeat: no-repeat;
    background-position: center;
}