<form class="example-form" [formGroup]='usersForm'>
  <mat-form-field class="example-full-width">
    <mat-icon matPrefix class="mat-icon">search</mat-icon>
    <input type="text"
           matInput
           placeholder="Choose a country"
           autofocus
           [matAutocomplete]="auto"
           formControlName="userInput"
           [ngModel]="currentValue">

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)='parseCountry($event.option.value)'>
            <mat-option *ngFor="let country of (filteredCountries | async)" [value]="country.country">
                <img style="vertical-align: middle;" aria-hidden src="{{country.countryInfo.flag}}" height="25"/>
                <span> {{ country.country }}</span>
            </mat-option>
    </mat-autocomplete>

  </mat-form-field>
  

  <app-information-panel [recoveredCases]="recoveredCases" *ngIf="loadDetails"></app-information-panel>
</form>
